:root {
    --primary-color: #ffffff;
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color);
    color: #000000;
    border: 1px solid var(--primary-color);
}

.btn--outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: #fff;
    padding: 8px 20px; 
    transition: all 0.3s ease-out;
}

.btn--medium {
    font-size: 20px;
    padding: 8px 20px;

}

.btn--large {
    font-size: 20px;
    padding: 12px 26px;
}

.btn--medium:hover, .btn--large:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease-out;
    
}